[run]
source = quads_client
relative_files = true
omit =
    */tests/*
    */venv/*
    */site-packages/*
    */__pycache__/*
    */cli/main.py
    src/quads_client/gui/*

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

[html]
directory = htmlcov
