servers:
  quads1.rdu2.scalelab:
    url: https://quads1.rdu2.scalelab.example.com
    username: admin@example.com
    password: changeme
  quads2.rdu2.scalelab:
    url: https://quads2.rdu2.scalelab.example.com
    username: admin@example.com
    password: changeme

default_server: quads1.rdu2.scalelab
